/* frontend/src/utils/PasswordValidation.module.css
   Styles for the PasswordRequirements component. */

.requirementsList {
  list-style-type: none;
  padding: 0;
  margin: 25px 0;
  text-align: left;
}

.requirementItem {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--text-color-secondary);
  margin-bottom: 8px;
  transition: color 0.3s ease;
}

.requirementItem.valid {
  color: #2e7d32; /* success color for valid requirements */
}

.icon {
  margin-right: 10px;
  font-weight: bold;
  width: 15px;
}
